#dialog {
  position: relative;
  top: 5vw;
}

.disappear {
  animation: disappear 2s ease;
}

@keyframes disappear {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5vw);
  }

  100% {
    transform: translateY(100vh);
  }
}
