.show {
  /* animation: show; */
  transition: 2s ease-in-out;
  /* animation: show 2s ease-in; */
  /* animation-timing-function: ease-in; */
}

.hide {
  /* animation: hide; */
  transition: 2s ease-in-out;
  transform: translateX(-250px);
  /*   animation: hide 2s ease-out; */
  /* animation-timing-function: ease-out; */
}

/* @keyframes show {
  100% {
    transition: 2s ease-in-out;
  }
} */

/* @keyframes hide {
  100% {
    transition: 2s ease-in-out;
    transform: translateX(-200px);
  }
} */
