.linear {
  animation: linear 2s linear infinite alternate-reverse;
}

@keyframes linear {
  100% {
    transform: translateX(55vw);
  }
}

.ease {
  animation: ease 2s ease infinite alternate-reverse;
}

@keyframes ease {
  100% {
    transform: translateX(55vw);
  }
}

.ease-in {
  animation: ease-in 2s ease-in infinite alternate-reverse;
}

@keyframes ease-in {
  100% {
    transform: translateX(55vw);
  }
}

.ease-out {
  animation: ease-out 2s ease-out infinite alternate-reverse;
}

@keyframes ease-out {
  100% {
    transform: translateX(55vw);
  }
}

.ease-in-out {
  animation: ease-in-out 2s ease-in-out infinite alternate-reverse;
}

@keyframes ease-in-out {
  100% {
    transform: translateX(55vw);
  }
}

/* WHAT IS STEPS?? steps() */
.steps {
  animation: steps 2s steps(5, end) infinite alternate-reverse;
}

@keyframes steps {
  100% {
    transform: translateX(55vw);
  }
}
